@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Movie App</h1>
    <p class="lead">Vidly is an awesome movie app based in MVC; better than that IMDB stuff...</p>
    
</div>

<div class="row">

</div>